<mat-card>
  <mat-toolbar id="tb" color="primary">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-toolbar-row>
      <span id="cn">Confirmation</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card-content class="ccn">
    <p>Are you sure you want to delete this item?</p>
  </mat-card-content>

  <mat-card-actions id="ac" >
    <button mat-button mat-dialog-close color="warn">No</button>
    <button id="yes" mat-button [mat-dialog-close]="true" >Yes</button>
  </mat-card-actions>
</mat-card>
