#divm
{
  position: relative;
  top: 10px;
  left: 20px;
  width: 450px;
  height: 530px;
  background-image: linear-gradient(to bottom right, #5761B2, #1FC5A8);
}
#all
{
  position: relative;
  left: 60px;
  width: 400px;
  height: 530px;
}
.cat
{
  width: 212px;
}
.h1
{
  position: relative;
  left: 100px;
}
.mybtn
{
  position: relative;
  left: 125px;
}
