<div id="divm">
  <div id="all">
<h1>Products</h1>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <br>
  <span class='span' *ngIf="nameControl.invalid && nameControl.touched" style="color: red">
      *Name is required
    </span>
  <br>

  <mat-form-field>
    <mat-label>Price</mat-label>
    <input type="number" matInput formControlName="price">
  </mat-form-field><br>
  <span class='span' *ngIf="priceControl.invalid && priceControl.touched" style="color: red">
      *Price is required
    </span>
  <br>

  <mat-form-field class="cat">
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
      <mat-option *ngFor="let category of categories" [value]="category">{{ category }}
        <mat-icon matSuffix (click)="removeCategory(category)">clear</mat-icon></mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <span  class='span' *ngIf="categoryControl.invalid && categoryControl.touched" style="color: red">
      *Category is required
    </span>
  <br>
  <button class="mybtn" mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">Submit</button>
</form>
<br><br>
  </div>
</div>
