#divm
{
  position: relative;
  top: 10px;
  left: 20px;
  width: 420px;
  height: 610px;
  background-image: linear-gradient(to bottom right, #5761B2, #1FC5A8);
}
#all
{
  position: relative;
  left: 90px;
  width: 400px;
  height: 530px;
}
.cat
{
  width: 212px;
}
.h1
{
  position: relative;
  left: 100px;
}
.mybtn
{
  position: relative;
  left: 125px;
  top: -10px;
}
.span
{
  position: relative;
  top: -20px;
}
.spiner
{
  position: relative;
  left: 360px;
  top: -150px;
}
