.div1
{
  position: relative;
  left: 500px;
  top: -500px;
  width: 200px;
  height: 200px;
  background-color: lightskyblue;
  color: black;
}
.div2
{
  position: relative;
  left: 800px;
  top: -700px;
  width: 200px;
  height: 200px;
  /*background-color: lightskyblue;*/
  color: black;
}
