.div1
{
  position: relative;
  left: 530px;
  top: -520px;
  width: 400px;
  height: 200px;
  /*background-color: lightskyblue;*/
  color: black;
}
.div2
{
  position: relative;
  left: 980px;
  top: -720px;
  width: 200px;
  height: 200px;
  /*background-color: lightskyblue;*/
  color: black;
}

.product-container {
  display: flex;
  justify-content: space-between;
}

.product-name {
  margin-right: 10px;
}
.card
{
  background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
}
.card1
{
  position: relative;
  top: -20px;
  background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
}
#sbtn
{
  position: relative;
  left: 280px;
  top: -30px;
}
#input1
{
  width: 400px;
  height: 80px;
}
#db
{
  position: relative;
  left: 200px;
}
